In [31]:
"""
this class 
"""

class StudenInfo:
    
    def __init__(self, student_name,age,gpa,gender):
            
        self.student_name = student_name
        self.age = age
        self.gpa =gpa
        self.gender = gender

        




    def student_info(self):
        return f"welcome to depi{self.student_name}"

In [32]:
s1 = StudenInfo("tad" ,6 ,3.7 ,"male")
s1.age

6

In [33]:
s1.student_info()

'welcome to depitad'

In [23]:
class test():
    def info(self, ):
        print(self)

In [10]:
t1 = test()

In [11]:
t1.info()

<__main__.test object at 0x7ff12e6c1be0>

In [35]:
from abc import ABC,abstractmethod
class Animal(ABC):
    
    @abstractmethod
    def move(self):
        pass

class bird(Animal):
    def move(self):
        print("bird")

class cat(Animal):
    def move(self):
        print("cat")

In [36]:
a = Animal()
a.move

TypeError: Can't instantiate abstract class Animal without an implementation for abstract method 'move'