class Student:

In [ ]:
class Student:
    _id_counter = 1

    def __init__(self, name):
        self.student_id = Student._id_counter
        Student._id_counter +=1
        self.name =name
        self.grade = {}
        self.enrolled_courses = []


    def __str__(self):
        return f"stutdent id:{self.student_id}, name :{self.name} , grades {(self.grade)}"

    def __repr__(self):
        return f"stutdent id:{self.student_id}, name :{self.name} , grades {(self.grade)}"

    
    def add_grade(self, course_id ,  grade):

        self.grade[course_id] = grade


    def enroll_in_course

In [11]:
s1 = Student("test")
repr(s1)

'stutdent id:1, name :test , grades {}'

In [13]:
x1 = 5

x2 = x1

x2 ,x1

(5, 5)

In [ ]:
class Course:
    _id_counter = 1


    def __init__(self, name):
        self.course_id = Course._id_counter

        Course._id_counter += 1
        self.name = name
        self.enrolled_students = []


    def __str__(self):
        return f"course ID:{self.course_id},name{self.name},Enrolled :{len(self.enrolled_students)}"
    

    def enroll_student(self, student):
        if student not in self.enrolled_students:
            self.enrolled_students.append(student)
            print("student enrolled")

        else:
            print("sutdent already enrolled")

    def remove_student(self, student):
        for course in self.Course.values():
            if student in course.enrolled_students

In [23]:
c1 = Course("ml")

str("ml")

'ml'

In [24]:
c1.enroll_student("h")

str(c1)

student enrolled

'course ID:1,nameml,Enrolled :1'

In [ ]:
class SystemManager:
    def __init__(self):
        self.students = {}
        self.courses = {}

In [25]:
x = 5

type(x)

int